<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
	
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Bootstrap Admin Dashboard </title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon.png">
    <link rel="stylesheet" href="/vendor/bootstrap-select/dist/css/bootstrap-select.min.css">
	<!-- Datatable -->
    <link href="/vendor/datatables/css/jquery.dataTables.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">

</head>

<body>

    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->

    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        <div class="nav-header">
            <a href="index.html" class="brand-logo">
                <img class="logo-abbr" src="/images/logo-white.png" alt="">
                <img class="logo-compact" src="/images/logo-text-white.png" alt="">
                <img class="brand-title" src="/images/logo-text-white.png" alt="">
            </a>

            <div class="nav-control">
                <div class="hamburger">
                    <span class="line"></span><span class="line"></span><span class="line"></span>
                </div>
            </div>
        </div>
        <!--**********************************
            Nav header end
        ***********************************-->

        <!--**********************************
            Header start
        ***********************************-->
        <div class="header">
            <div class="header-content">
                <nav class="navbar navbar-expand">
                    <div class="collapse navbar-collapse justify-content-between">
                        <div class="header-left">
                        </div>

                        <ul class="navbar-nav header-right">
                            <li class="nav-item dropdown header-profile">
                                <a class="nav-link" href="#" role="button" data-toggle="dropdown">
                                    <img th:src="@{${img != null ? '/api/admin/rest/viewImage/' + img : '/images/profile/education/pic-6.jpg'}}" width="20" alt="">
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a th:href="@{/api/admin/profile}" class="dropdown-item ai-icon">
                                        <svg id="icon-user1" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
                                        <span class="ml-2">Profile </span>
                                    </a>
                                    <a href="page-login.html" class="dropdown-item ai-icon">
                                        <svg id="icon-logout" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-log-out"><path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path><polyline points="16 17 21 12 16 7"></polyline><line x1="21" y1="12" x2="9" y2="12"></line></svg>
                                        <span class="ml-2">Chiqish </span>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

        <!--**********************************
            Sidebar start
        ***********************************-->
        <div class="dlabnav">
            <div class="dlabnav-scroll">
                <ul class="metismenu" id="menu">
                    <li class="nav-label first">Bosh Menu</li>
                    <li><a class="ai-icon" th:href="@{/api/admin/dashboard}" aria-expanded="false">
							<i class="la la-home"></i>
							<span class="nav-text">Dashboard</span>
						</a>
                        <!-- <ul aria-expanded="false">
                            <li><a href="index.html">Dashboard 1</a></li>
                            <li><a href="index-2.html">Dashboard 2</a></li>
                            <li><a href="index-3.html">Dashboard 3</a></li>
                        </ul> -->
                    </li>
					<!-- <li><a class="ai-icon" href="event-management.html" aria-expanded="false">
							<i class="la la-calendar"></i>
							<span class="nav-text">Event Management</span>
						</a>
                    </li> -->
					<li><a class="has-arrow" href="javascript:void(0)" aria-expanded="false">
							<i class="la la-user"></i>
							<span class="nav-text">Hodimlar</span>
						</a>
                        <ul aria-expanded="false">
                            <li><a th:href="@{/api/admin/list/employee}">Barcha hodimlar</a></li>
                            <li><a th:href="@{/api/admin/add/employee}">Yangi hodim</a></li>
                            <!-- <li><a href="edit-professor.html">Edit Professor</a></li> -->
                            <!-- <li><a href="professor-profile.html">Hodim haqida</a></li> -->
                        </ul>
                    </li>
					<li><a class="has-arrow" href="javascript:void(0)" aria-expanded="false">
							<i class="la la-users"></i>
							<span class="nav-text">O'quvchilar</span>
						</a>
                        <ul aria-expanded="false">
                            <li><a href="all-students.html">Barcha o'quvchilar</a></li>
                            <!-- <li><a href="add-student.html">Add Students</a></li> -->
                            <!-- <li><a href="edit-student.html">Edit Students</a></li> -->
                            <!-- <li><a href="about-student.html">O'quvchi haqida</a></li> -->
                        </ul>
                    </li>
					<li><a class="has-arrow" href="javascript:void(0)" aria-expanded="false">
							<i class="la la-graduation-cap"></i>
							<span class="nav-text">Kurslar</span>
						</a>
                        <ul aria-expanded="false">
                            <li><a th:href="@{/api/admin/all/lesson}">Barcha kurslar</a></li>
                        </ul>
                    </li>
				</ul>
            </div>
        </div>
        <!--**********************************
            Sidebar end
        ***********************************-->
		
        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            <!-- row -->
            <div class="container-fluid">
				    
                <div class="row page-titles mx-0">
                    <div class="col-sm-6 p-md-0">
                        <div class="welcome-text">
                            <h4>Barcha hodimlar</h4>
                        </div>
                    </div>
                    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a th:href="@{/api/admin/dashboard}">Dashboard</a></li>
                            <li class="breadcrumb-item active"><a th:href="@{/api/admin/list/employee}">Hodimlar</a></li>
                            <li class="breadcrumb-item active"><a href="javascript:void(0);">Barcha hodimlar</a></li>
                        </ol>
                    </div>
                </div>
				
				<div class="row">
					<div class="col-lg-12">
						<ul class="nav nav-pills mb-3">
							<li class="nav-item"><a href="#list-view" data-toggle="tab" class="nav-link btn-primary mr-1 show active">Qator</a></li>
							<li class="nav-item"><a href="#grid-view" data-toggle="tab" class="nav-link btn-primary">Jadval</a></li>
						</ul>
					</div>
					<div class="col-lg-12">
						<div class="row tab-content">
							<div id="list-view" class="tab-pane fade active show col-lg-12">
								<div class="card">
									<div class="card-header">
										<h4 class="card-title">Barcha hodimlar</h4>
										<a th:href="@{/api/admin/add/employee}" class="btn btn-primary">+ Yangi</a>
									</div>
									<div class="card-body">
										<div class="table-responsive">
											<table id="example3" class="display" style="min-width: 845px">
												<thead>
													<tr>
														<th></th>
														<th>Fio</th>
														<th>Tug'ilgan kun</th>
														<th>Jins</th>
														<th>Fan</th>
														<th>Telefon</th>
														<th>Email</th>
														<th>Joining Date</th>
														<th>Action</th>
													</tr>
												</thead>
												<tbody>
													<tr th:each = "employee : ${employeeList}">
														<td><img class="rounded-circle" width="35" th:src="@{${employee.imageHashId != null ? '/api/admin/rest/viewImage/'+employee.imageHashId : '/images/profile/education/pic-6.jpg'}}" alt="user-image"></td>
														<td th:text="${employee.fullName}" class="text-capitalize"></td>
														<td th:text="${employee.birthDate}"></td>
														<td th:text="${employee.gender}"></td>
														<td th:text="${employee.science}"></td>
														<td><a href="javascript:void(0);"><strong th:text="${employee.phone}"></strong></a></td>
														<td><a href="javascript:void(0);"><strong th:text="${employee.email}"></strong></a></td>
														<td th:text="${employee.joiningDate}"></td>
														<td>
															<a th:href="${'/api/admin/edit/employee/' + employee.id}" class="btn btn-sm btn-primary"><i class="la la-pencil"></i></a>
															<a href="javascript:void(0);" id="deleteBtn1" th:data-id="${employee.id}" class="btn btn-sm btn-danger"><i class="la la-trash-o"></i></a>
														</td>												
													</tr>
												</tbody>
											</table>
										</div>
									</div>
                                </div>
                            </div>
							<div id="grid-view" class="tab-pane fade col-lg-12">
								<div class="row">
									<div class="col-lg-4 col-md-6 col-sm-6 col-12" th:each = "employee : ${employeeList}">
										<div class="card card-profile">
											<div class="card-header justify-content-end pb-0">
												<div class="dropdown">
													<button class="btn btn-link" type="button" data-toggle="dropdown">
														<span class="dropdown-dots fs--1"></span>
													</button>
													<div class="dropdown-menu dropdown-menu-right border py-0">
														<div class="py-2">
															<a class="dropdown-item" th:href="${'/api/admin/edit/employee/' + employee.id}">Tahrirlash</a>
															<a class="dropdown-item text-danger" id="deleteBtn" th:data-id="${employee.id}" href="javascript:void(0);">O'chirish</a>
														</div>
													</div>
												</div>
											</div>
											<div class="card-body pt-2">
												<div class="text-center">
													<div class="profile-photo">
														<img th:src="@{${employee.imageHashId != null ? '/api/admin/rest/viewImage/'+employee.imageHashId : '/images/profile/education/pic-6.jpg'}}" width="100" class="img-fluid rounded-circle" alt="">
													</div>
													<h3 class="mt-4 mb-1 text-capitalize" th:text="${employee.fullName}"></h3>
													<p class="text-muted" th:text="${employee.role}"></p>
													<ul class="list-group mb-3 list-group-flush">
                                                        <li class="list-group-item px-0 d-flex justify-content-between">
                                                            <span class="mb-0">Tug'ilgan kun:</span><strong th:text="${employee.birthDate}"></strong></li>
														<li class="list-group-item px-0 d-flex justify-content-between">
															<span class="mb-0">Jins :</span><strong th:text="${employee.gender}"></strong></li>
														<li class="list-group-item px-0 d-flex justify-content-between">
															<span class="mb-0">Telefon :</span><strong th:text="${employee.phone}"></strong></li>
														<li class="list-group-item px-0 d-flex justify-content-between">
															<span class="mb-0">Email:</span><strong th:text="${employee.email}"></strong></li>
														<li class="list-group-item px-0 d-flex justify-content-between">
															<span class="mb-0">Qo'shilgan vaqt:</span><strong th:text="${employee.joiningDate}"></strong></li>
                                                        <li class="list-group-item px-0 d-flex justify-content-between">
                                                            <span class="mb-0">Fan:</span><strong th:text="${employee.science}"></strong></li>
                                                        <li class="list-group-item px-0 d-flex justify-content-between">
                                                            <span class="mb-0">Sinf:</span><strong th:text="${employee.grade}"></strong></li>
													</ul>
													<a class="btn btn-outline-primary btn-rounded mt-3 px-4" th:href="${'/api/admin/about/employee/' + employee.id}">Hodim haqida</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
            </div>
        </div>
        <!--**********************************
            Content body end
        ***********************************-->


        <!--**********************************
            Footer start
        ***********************************-->
        <div class="footer">
            <div class="copyright">
                <p>Copyright © Designed &amp; Developed by <a href="../index.htm" target="_blank">DexignLab</a> 2020</p>
            </div>
        </div>
        <!--**********************************
            Footer end
        ***********************************-->

		<!--**********************************
           Support ticket button start
        ***********************************-->

        <!--**********************************
           Support ticket button end
        ***********************************-->


    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
    <script src="/vendor/global/global.min.js"></script>
	<script src="/vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    <script src="/js/custom.min.js"></script>
    <script src="/js/dlabnav-init.js"></script>
	
	<!-- Datatable -->
    <script src="/vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="/js/plugins-init/datatables.init.js"></script>
	
    <!-- Svganimation scripts -->
    <script src="/vendor/svganimation/vivus.min.js"></script>
    <script src="/vendor/svganimation/svg.animation.js"></script>
    <script src="/js/styleSwitcher.js"></script>

    <script src="/js/admin/admin.js"></script>
</body>
</html>