<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
	
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Assistant chat</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon.png">
    <link rel="stylesheet" href="/vendor/bootstrap-select/dist/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/assistant-chat.css">
	

</head>

<body>

    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->

    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        <div class="nav-header">
            <a href="index.html" class="brand-logo">
                <img class="logo-abbr" src="/images/logo-white.png" alt="">
                <img class="logo-compact" src="/images/logo-text-white.png" alt="">
                <img class="brand-title" src="/images/logo-text-white.png" alt="">
            </a>

            <div class="nav-control">
                <div class="hamburger">
                    <span class="line"></span><span class="line"></span><span class="line"></span>
                </div>
            </div>
        </div>
        <!--**********************************
            Nav header end
        ***********************************-->

        <!--**********************************
            Header start
        ***********************************-->
        <div class="header">
            <div class="header-content">
                <nav class="navbar navbar-expand">
                    <div class="collapse navbar-collapse justify-content-between">
                        <div class="header-left">
                        </div>

                        <ul class="navbar-nav header-right">
                            <li class="nav-item dropdown header-profile">
                                <a class="nav-link" href="#" role="button" data-toggle="dropdown">
                                    <img th:src="@{${img != null ? '/api/admin/rest/viewImage/' + img : '/images/profile/education/pic-6.jpg'}}" width="20" alt="">
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a th:href="@{/api/assistant/profile}" class="dropdown-item ai-icon">
                                        <svg id="icon-user1" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
                                        <span class="ml-2">Profile </span>
                                    </a>
                                    <a href="javascript:void(0);" class="dropdown-item ai-icon">
                                        <svg id="icon-logout" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-log-out"><path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path><polyline points="16 17 21 12 16 7"></polyline><line x1="21" y1="12" x2="9" y2="12"></line></svg>
                                        <span class="ml-2">Logout </span>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

        <!--**********************************
            Sidebar start
        ***********************************-->
        <div class="dlabnav">
            <div class="dlabnav-scroll">
                <ul class="metismenu" id="menu">
                    <li>
                        <a class="has-arrow" href="javascript:void(0);" aria-expanded="false">
                            <i class="la la-users"></i>
                            <span class="nav-text">Xabarlar</span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a th:href="@{/api/assistant/all/message}">Barcha xabarlar</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <!--**********************************
            Sidebar end
        ***********************************-->

		
		
        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            <!-- row -->
            <div class="container-fluid">
				
				<div class="row mb-0">
					<div class="col-xl-3 col-xxl-4 col-lg-4">
						<div class="row">
							<div class="col-lg-12">
								<div class="card">
									<div class="text-center p-3 overlay-box">
										<div class="profile-photo">
											<img th:src="${student.student.imagePath}" width="100" class="img-fluid rounded-circle">
										</div>
										<h3 class="mt-3 mb-1 text-white text-capitalize" th:text="${student.student.fullName}"></h3>
                                        <span class="text-white" th:text="${student.lessonOrder + '-dars'}"></span><br>
                                        <span class="text-white" th:text="${student.taskOrder + '-topshiriq'}"></span>
									</div>
									<ul class="list-group list-group-flush">
										<li th:each="i :${#numbers.sequence(1, 5)}" class="list-group-item d-flex justify-content-between py-1" style="align-items: center;">
                                            <span class="mb-0" th:text="'Topshiriq(#' + ${i} + ')'"></span>
                                            <button type="button" onclick="accessFunc(this)" th:data-id="${i}"
                                                    th:class="${student.star[i-1]} ? 'btn-success btn text-light btn-rounded my-0 px-4' : 'btn-primary btn text-light btn-rounded my-0 px-4'"
                                                    th:text="${student.star[i-1]} ? 'Bajarildi' : 'Bajardi'"></button>
                                        </li>
									</ul>
								</div>
							</div>
                        </div>
					</div>
					<div class="col-xl-9 col-xxl-8 col-lg-8 mb-0">
						<div class="card">
                            <div class="card-body">
                                <div class="profile-tab">
                                    <div class="custom-tab-1">
                                        <ul class="nav nav-tabs">
                                            <li class="nav-item"><a href="#about-me" data-toggle="tab" class="nav-link active show">Chat</a></li>
                                            <li class="nav-item"><a href="#my-posts" data-toggle="tab" class="nav-link">Topshiriq</a></li>
                                        </ul>
                                        <div class="tab-content">
                                            <div id="about-me" class="tab-pane fade active show pb-0">
                                                <div class="chat mt-1 pb-2 rounded" style="box-shadow: -1px -2px 5px rgb(0 0 0 / 10%),
                                                1px 2px 5px rgb(0 0 0 / 10%);">
                                                    <ul id="ul" class="pt-3 mb-1">
                                                        <li th:each="history : ${chatHistory}">
                                                            <div th:class="${history.messageOwnerRole == 'STUDENT'} ? 'message-data'
                                                            : 'message-data text-right'">
                                                                <span class="message-data-time" th:text="${history.date}"></span>
                                                                <button th:if="${history.messageOwnerRole != 'STUDENT'}" class="ml-1 rounded-circle" th:data-id="${history.id}" onclick="deleteMsg(this)">
                                                                    <i class="la la-trash p-2"></i>
                                                                </button>
                                                            </div>
                                                            <div th:class="${history.messageOwnerRole == 'STUDENT'} ? 'message other-message'
                                                            : 'message my-message'">
                                                                <img th:if="${history.messageImagePath != null}" class="img-fluid" th:src="${history.messageImagePath}"><br th:if="${history.messageImagePath != null}">
                                                                <span th:text="${history.message}"></span>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="row pt-3">
                                                    <form id="form" class="form col-12">
                                                        <label for="image">
                                                            <i class="la la-link"></i>
                                                        </label>
                                                        <input id="image" name="messageImg" type="file" accept="image/*" style="display: none;">
                                                        <input type="text" name="messageTxt" class="form-control" placeholder="xabar...">
                                                        <i th:data-id="${lastTask}" class="la la-send"></i>
                                                    </form>
                                                </div>
                                                <span id="test"></span>
                                            </div>
											<div id="my-posts" class="tab-pane fade">
                                                <div class="my-post-content pt-3 px-sm-0 mx-sm-0">
<!--                                                    <style>-->
<!--                                                        .video-container{-->
<!--                                                            border-radius: .5rem;-->
<!--                                                            padding: 1rem .8rem;-->
<!--                                                        }-->
<!--                        -->
<!--                                                        .video-container .video{-->
<!--                                                            position: relative;-->
<!--                                                            margin-bottom: 1.5rem;-->
<!--                                                        }-->
<!--                        -->
<!--                                                        .video-container .video video{-->
<!--                                                            border-radius: .5rem;-->
<!--                                                            width: 100%;-->
<!--                                                            object-fit: contain;-->
<!--                                                            background-color: #000;-->
<!--                                                        }                        -->
<!--                                                    </style>-->
                                                    <!-- <div class="video-container">
                                                        <div class="video">
                                                           <video src="images/vid-1.mp4" controls poster="images/thumb-1.png" id="video"></video>
                                                        </div>
                                                    </div> -->
                                                    <!-- <embed src="../../general tasks.docx" type="application/docx" width="100%" height="600px"> -->
                                                    <h2 class="text-justify" th:text="${lessonInfo.title}"></h2>
                                                    <object th:data="${lessonInfo.taskLink} + '#toolbar=0&scrollbar=0'" type="application/pdf" width="100%" height="800px">
                                                        <p>Faylni ochib bo'lmadi. <a th:href="@{lessonInfo.taskLink}">Boshqa sahifada</a> ochish.</p>
                                                    </object>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
						</div>
					</div>
				</div>
				
            </div>
        </div>
        <!--**********************************
            Content body end
        ***********************************-->


        <!--**********************************
            Footer start
        ***********************************-->
        <!-- <div class="footer">
            <div class="copyright">
                <p>Copyright © Designed &amp; Developed by <a href="../index.htm" target="_blank">DexignLab</a> 2020</p>
            </div>
        </div> -->
        <!--**********************************
            Footer end
        ***********************************-->

		<!--**********************************
           Support ticket button start
        ***********************************-->

        <!--**********************************
           Support ticket button end
        ***********************************-->


    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
    <script src="/vendor/global/global.min.js"></script>
	<script src="/vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    <script src="/js/custom.min.js"></script>
    <script src="/js/dlabnav-init.js"></script>
	
	<!-- Svganimation scripts -->
    <script src="/vendor/svganimation/vivus.min.js"></script>
    <script src="/vendor/svganimation/svg.animation.js"></script>
    <script src="/js/styleSwitcher.js"></script>

    <script src="/js/assistant/chat.js"></script>
</body>
</html>