<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>President school</title>

  <!-- Favicons -->
  <link href="/assets/img/favicon.png" rel="icon">
  <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <!-- <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet"> -->

  <!-- Vendor CSS Files -->
  <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/assets/css/main.css" rel="stylesheet">
</head>

<body id="bbodyy" style="transition: 2s;">

  <div class="cube-wrap">
    <div class="cube">
        <div class="side top text-success d-flex align-items-center justify-content-center"></div>
        <div class="side bottom text-success d-flex align-items-center justify-content-center"></div>
        <div class="side front text-success d-flex align-items-center justify-content-center"></div>
        <div class="side back text-success d-flex align-items-center justify-content-center"></div>
        <div class="side left text-success d-flex align-items-center justify-content-center"></div>
        <div class="side right text-success d-flex align-items-center justify-content-center"></div>
    </div>
</div>

  <header id="header" class="header d-flex align-items-center">

    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
      <a href="javascript:void(0);" class="logo d-flex align-items-center">
      <img src="/images/logo-white.png">
        <h1>President school<span>.</span></h1>
      </a>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="#hero">Uy</a></li>
          <li><a href="#about">Biz haqimizda</a></li>
          <li><a href="#stats-counter">Statistika</a></li>
          <li><a href="#portfolio">Yangiliklar</a></li>
          <li><a href="#team">Jamoa</a></li>
          <li><a href="#pricing">Kurslar</a></li>
          <li class="dropdown">
            <a href="javascript:void(0);">
            <span>Profile</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a th:href="@{/api/user/register}">Ro'yhatdan o'tish</a></li>
              <li><a th:href="@{/api/user/login}">Kirish</a></li>
            </ul>
          </li>
          <li><a href="#contact">Aloqa</a></li>
        </ul>
      </nav>
      <!-- .navbar -->

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

    </div>
  </header>
  <!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero">
    <div class="container position-relative">

      <div class="row gy-5" data-aos="fade-in">
        <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center text-center text-lg-start">
          <h2>Welcome to <span>President school's official cite</span></h2>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing.</p>
          <div class="d-flex justify-content-center justify-content-lg-start">
            <a href="#about" class="btn-get-started">Batafsil...</a>
            <a href="" class="btn-watch-video d-flex align-items-center"><i class="bi bi-play-circle"></i><span>You Tube</span></a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2">
          <img src="/assets/img/hero-img.svg" class="img-fluid" alt="" data-aos="zoom-out" data-aos-delay="100">
        </div>
      </div>
    </div>

    <div class="position-absolute h-100" id="exampleModalCenter">
      <div id="modal-bg-question" class="modal-bg-question w-25 h-100 mt-3">
        <div class="modal-content">
          <div class="modal-header">
            <h5>Ro'yhatdan o'tish</h5>
            <button type="button" class="close" aria-label="Close">
              <span aria-hidden="false" onclick="document.getElementById('exampleModalCenter').style.display = 'none';">&times;</span>
            </button>
          </div>
          <div class="modal-body mt-0">
            <form class="w-100">
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                  <h1 class="pb-0">Ro'yhatdan o'tishni hoxlaysizmi?</h1>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                  <button type="button" onclick="document.getElementById('modal-bg-question').style.display = 'none';
                    document.getElementById('modal-bg-login').style.display = 'block';" class="btn btn-primary form-control fs-3 mt-lg-4 mt-md-3 mt-sm-1">Kirish</button>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                  <button type="button" onclick="document.getElementById('modal-bg-question').style.display = 'none';
                  document.getElementById('modal-bg-register').style.display = 'block';" class="btn btn-success form-control fs-3 mt-lg-4 mt-md-3 mt-sm-1">Ro'yhatdan o'tish</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div id="modal-bg-register" style="display: none;" class="modal-bg-register w-75 h-100 mt-3">
        <div class="modal-content">
          <div class="modal-header">
            <h5>Ro'yhatdan o'tish</h5>
            <button type="button" class="close" aria-label="Close">
              <span aria-hidden="false" onclick="document.getElementById('exampleModalCenter').style.display = 'none';">&times;</span>
            </button>
          </div>
          <div class="modal-body mt-0">
            <form id="register-form" class="w-100">
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                  <label class="pb-0">Ism-Familiya*</label>
                  <input type="text" name="name" class="form-control text-capitalize" placeholder="fio..." required>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                  <label class="form-label mt-lg-4 mt-md-3 mt-sm-1">Telefon*</label>
                  <input type="tel" name="phone" class="form-control" placeholder="+998" required>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                  <label class="form-label mt-lg-4 mt-md-3 mt-sm-1">Jins*</label>
                  <select name="gender" class="form-control">
                    <option value="male">O'g'il</option>
                    <option value="female">Qiz</option>
                  </select>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                  <label class="form-label mt-lg-4 mt-md-3 mt-sm-1">Sinf*</label>
                  <select name="grade" class="form-control">
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                  </select>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                  <label class="form-label mt-lg-4 mt-md-3 mt-sm-1">Rasm*</label>
                  <input type="file" name="photo" class="form-control" accept="image/*" required>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                  <label class="form-label mt-lg-4 mt-md-3 mt-sm-1">Parol*</label>
                  <input type="password" name="pass" class="form-control" required>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                  <label class="form-label mt-lg-4 mt-md-3 mt-sm-1">Parolni takrorlang*</label>
                  <input type="password" name="c_pass" class="form-control" required>
                </div>
                <div class="col-12 mt-1">
                  <span id="error text-danger" style="display: none;">*</span>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                  <button type="reset" class="btn btn-danger form-control fs-3 mt-lg-4 mt-md-3 mt-sm-1">Bekor qilish</button>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                  <button type="button" id="register" class="btn btn-success form-control fs-3 mt-lg-4 mt-md-3 mt-sm-1">Ro'yhatdan o'tish</button>
                </div>
                <div class="col-12 text-center mt-1">
                  <span>Sizda allaqachon hisob bormi? <a href="javascript:void(0);" onclick="document.getElementById('modal-bg-login').style.display = 'block';
                    document.getElementById('modal-bg-register').style.display = 'none';" class="text-primary fs-3">Kirish</a></span>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div id="modal-bg-login" style="display: none;" class="modal-bg-login w-25 h-100 mt-3">
        <div class="modal-content">
          <div class="modal-header">
            <h5>Kirish</h5>
            <button type="button" class="close" aria-label="Close">
              <span aria-hidden="false" onclick="document.getElementById('exampleModalCenter').style.display = 'none';">&times;</span>
            </button>
          </div>
          <div class="modal-body mt-0">
            <form class="w-100">
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                  <label class="form-label mt-lg-1 mt-md-3 mt-sm-1">Telefon*</label>
                  <input type="tel" class="form-control" placeholder="+998***" required>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12">
                  <label class="form-label mt-lg-4 mt-md-3 mt-sm-1">Parol*</label>
                  <input type="password" class="form-control" placeholder="***" required>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                  <button type="reset" class="btn btn-danger form-control fs-3 mt-lg-4 mt-md-3 mt-sm-1">Bekor qilish</button>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                  <button type="button" class="btn btn-primary form-control fs-3 mt-lg-4 mt-md-3 mt-sm-1">Kirish</button>
                </div>
                <div class="col-12 text-center mt-1">
                  <span>Sizda hisob yo`qmi? <a href="javascript:void(0);" onclick="document.getElementById('modal-bg-login').style.display = 'none';
                    document.getElementById('modal-bg-register').style.display = 'block';" class="text-primary fs-3">Ro'yhatdan o'tish</a></span>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="icon-boxes position-relative">
        <div class="container position-relative">
          <div class="row gy-4 mt-5">

            <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
              <div class="icon-box">
                <div class="icon"><i class="bi bi-easel"></i></div>
                <h4 class="title"><a href="javascript:void(0);" class="stretched-link">Matematika</a></h4>
              </div>
            </div>
            <!--End Icon Box -->

            <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="200">
              <div class="icon-box">
                <div class="icon"><i class="bi bi-gem"></i></div>
                <h4 class="title"><a href="javascript:void(0);" class="stretched-link">Ingliz tili</a></h4>
              </div>
            </div>
            <!--End Icon Box -->

            <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
              <div class="icon-box">
                <div class="icon"><i class="bi bi-geo-alt"></i></div>
                <h4 class="title"><a href="javascript:void(0);" class="stretched-link">Tanqidiy fikrlash</a></h4>
              </div>
            </div>
            <!--End Icon Box -->

            <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="500">
              <div class="icon-box">
                <div class="icon"><i class="bi bi-command"></i></div>
                <h4 class="title"><a href="javascript:void(0);" class="stretched-link">Muammoni yechish</a></h4>
              </div>
            </div>
            <!--End Icon Box -->

          </div>
        </div>
      </div>
  </section>
  <!-- End Hero Section -->

  <main id="main">

    <!-- ======= Call To Action Section ======= -->
    <section id="call-to-action" class="call-to-action sections-bg">
<!--      <div class="container text-center" data-aos="zoom-out">-->
<!--        <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="play-btn"></a>-->
<!--        <h3>Saytdan foydalanish yo'riqnomasi</h3>-->
<!--        <p> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.-->
<!--          Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>-->
<!--        <a class="cta-btn" href="#">Ko'rib Chiqish</a>-->
<!--      </div>-->
      <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://fastly.picsum.photos/id/1041/800/450.jpg?hmac=nG5aO17H6ocs41UZn0-dw3RG4plZtpImcAOdW0woD1Q" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>First slide label</h5>
              <p>Some representative placeholder content for the first slide.</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="https://fastly.picsum.photos/id/1041/800/450.jpg?hmac=nG5aO17H6ocs41UZn0-dw3RG4plZtpImcAOdW0woD1Q" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>Second slide label</h5>
              <p>Some representative placeholder content for the second slide.</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="https://fastly.picsum.photos/id/1041/800/450.jpg?hmac=nG5aO17H6ocs41UZn0-dw3RG4plZtpImcAOdW0woD1Q" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>Third slide label</h5>
              <p>Some representative placeholder content for the third slide.</p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </section>
    <!-- End Call To Action Section -->

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Biz haqimizda</h2>
          <p>Aperiam dolorum et et wuia molestias qui eveniet numquam nihil porro incidunt dolores placeat sunt id nobis omnis tiledo stran delop</p>
        </div>

        <div class="row gy-4">
          <div class="col-lg-6">
            <h3>Voluptatem dignissimos provident quasi corporis</h3>
            <img src="/assets/img/about.jpg" class="img-fluid rounded-4 mb-4" alt="">
            <p>Ut fugiat ut sunt quia veniam. Voluptate perferendis perspiciatis quod nisi et. Placeat debitis quia recusandae odit et consequatur voluptatem. Dignissimos pariatur consectetur fugiat voluptas ea.</p>
            <p>Temporibus nihil enim deserunt sed ea. Provident sit expedita aut cupiditate nihil vitae quo officia vel. Blanditiis eligendi possimus et in cum. Quidem eos ut sint rem veniam qui. Ut ut repellendus nobis tempore doloribus debitis explicabo similique sit. Accusantium sed ut omnis beatae neque deleniti repellendus.</p>
          </div>
          <div class="col-lg-6">
            <div class="content ps-0 ps-lg-5">
              <p class="fst-italic">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna aliqua.
              </p>
              <ul>
                <li><i class="bi bi-check-circle-fill"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                <li><i class="bi bi-check-circle-fill"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
                <li><i class="bi bi-check-circle-fill"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</li>
              </ul>
              <p>
                Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident
              </p>

              <div class="position-relative mt-4">
                <img src="/assets/img/about-2.jpg" class="img-fluid rounded-4" alt="">
                <a href="javascript:void(0);" class="play-btn"></a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>
    <!-- End About Us Section -->

    <!-- ======= Stats Counter Section ======= -->
    <section id="stats-counter" class="stats-counter sections-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Raqamli statistika</h2>
          <p>Aperiam dolorum et et wuia molestias qui eveniet numquam nihil porro incidunt dolores placeat sunt id nobis omnis tiledo stran delop</p>
        </div>

        <div class="row gy-4 align-items-center">

          <div class="col-lg-6">
            <img src="/assets/img/stats-img.svg" alt="" class="img-fluid">
          </div>

          <div class="col-lg-6">

            <div class="stats-item d-flex align-items-center">
              <span data-purecounter-start="0" th:data-purecounter-end="${studentSize}" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>O'quvchilar</strong> consequuntur quae diredo para mesta</p>
            </div><!-- End Stats Item -->

            <div class="stats-item d-flex align-items-center">
              <span data-purecounter-start="0" th:data-purecounter-end="${lessonSize}" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Darslar</strong> adipisci atque cum quia aut</p>
            </div><!-- End Stats Item -->

            <div class="stats-item d-flex align-items-center">
              <span data-purecounter-start="0" th:data-purecounter-end="${employeeSize}" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Hodimlar</strong> aut commodi quaerat</p>
            </div><!-- End Stats Item -->

          </div>

        </div>

      </div>
    </section>
    <!-- End Stats Counter Section -->

    <!-- ======= News Section ======= -->
    <section th:if="${postList.size() != 0}" id="portfolio" class="portfolio">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Yangiliklar</h2>
          <p>Quam sed id excepturi ccusantium dolorem ut quis dolores nisi llum nostrum enim velit qui ut
            et autem uia reprehenderit sunt deleniti
          </p>
        </div>

        <div class="portfolio-isotope" data-portfolio-filter="*" data-portfolio-layout="masonry"
             data-portfolio-sort="original-order" data-aos="fade-up" data-aos-delay="100">

          <div class="row gy-4 portfolio-container" style="row-gap: 1rem;">

            <div th:each="post : ${postList}" class="col-xl-4 col-md-6 portfolio-item filter-app">
              <div class="portfolio-wrap">
                <a th:href="${post.imagePath}" data-gallery="portfolio-gallery-app" class="glightbox">
                  <img th:src="${post.imagePath}" class="img-fluid">
                </a>
                <div class="portfolio-info">
                  <a th:href="'/api/home/news/' + ${post.id}">
                    <h4 title="More Details" th:text="'&emsp;&emsp;' + ${post.title}"></h4>
<!--                    <div th:utext="${post.description}"></div>-->
                  </a>
                </div>
              </div>
            </div>
            <!-- End Portfolio Item -->

          </div><!-- End Portfolio Container -->

        </div>

      </div>
    </section>
    <!-- End News Section -->

    <!-- ======= Our Team Section ======= -->
    <section th:if="${employeeList.size() != 0}" id="team" class="team sections-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Bizning jamoa</h2>
          <p>Nulla dolorum nulla nesciunt rerum facere sed ut inventore quam porro nihil id ratione ea sunt quis dolorem dolore earum</p>
        </div>

        <div class="row gy-4">

          <div class="col-xl-3 col-md-6 d-flex mb-2" th:each="employee : ${employeeList}" data-aos="fade-up" data-aos-delay="100">
            <div class="member w-100">
              <img th:src="${employee.imageHashId}" class="img-fluid w-100">
              <h4 th:text="${employee.fullName}" class="text-capitalize"></h4>
              <span th:text="${employee.role}"></span>
              <span th:text="${employee.science}"></span>
              <div class="social">
                <a th:href="'tel:' + ${employee.phone}"><i class="bi bi-phone"></i></a>
                <a th:href="'https://t.me/' + ${employee.phone}"><i class="bi bi-telegram"></i></a>
                <a th:href="'https://instagram.com/' + ${employee.phone}"><i class="bi bi-instagram"></i></a>
                <a href="javascript:void(0);"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>
          <!-- End Team Member -->
        </div>

      </div>
    </section>
    <!-- End Our Team Section -->

    <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Kurslar</h2>
          <p>Aperiam dolorum et et wuia molestias qui eveniet numquam nihil porro incidunt dolores placeat sunt id nobis omnis tiledo stran delop</p>
        </div>

        <div class="row g-4 py-lg-5" data-aos="zoom-out" data-aos-delay="100">

          <div class="col-lg-3">
            <div class="pricing-item">
              <h3>Matematika</h3>
              <div class="icon">
                <i class="bi bi-box"></i>
              </div>
              <h4><sup></sup>200 000<span> / so'm</span></h4>
              <ul>
                <li><i class="bi bi-check"></i> 2 ta demo dars</li>
                <li><i class="bi bi-check"></i> 300 soatlik dars</li>
                <li><i class="bi bi-check"></i> 24/7 qo'llab quvvatlash</li>
                <li class="na"><i class="bi bi-x"></i> <span>Bir martalik to'lov</span></li>
                <li class="na"><i class="bi bi-x"></i> <span>Massa ultricies mi quis hendrerit</span></li>
              </ul>
              <div class="text-center"><a href="#" class="buy-btn">Xarid qilish</a></div>
            </div>
          </div><!-- End Pricing Item -->

          <div class="col-lg-3">
            <div class="pricing-item ">
              <h3>Business Plan</h3>
              <div class="icon">
                <i class="bi bi-airplane"></i>
              </div>

              <h4><sup>$</sup>29<span> / month</span></h4>
              <ul>
                <li><i class="bi bi-check"></i> Quam adipiscing vitae proin</li>
                <li><i class="bi bi-check"></i> Nec feugiat nisl pretium</li>
                <li><i class="bi bi-check"></i> Nulla at volutpat diam uteera</li>
                <li><i class="bi bi-check"></i> Pharetra massa massa ultricies</li>
                <li><i class="bi bi-check"></i> Massa ultricies mi quis hendrerit</li>
              </ul>
              <div class="text-center"><a href="#" class="buy-btn">Buy Now</a></div>
            </div>
          </div><!-- End Pricing Item -->

          <div class="col-lg-3">
            <div class="pricing-item">
              <h3>Developer Plan</h3>
              <div class="icon">
                <i class="bi bi-send"></i>
              </div>
              <h4><sup>$</sup>49<span> / month</span></h4>
              <ul>
                <li><i class="bi bi-check"></i> Quam adipiscing vitae proin</li>
                <li><i class="bi bi-check"></i> Nec feugiat nisl pretium</li>
                <li><i class="bi bi-check"></i> Nulla at volutpat diam uteera</li>
                <li><i class="bi bi-check"></i> Pharetra massa massa ultricies</li>
                <li><i class="bi bi-check"></i> Massa ultricies mi quis hendrerit</li>
              </ul>
              <div class="text-center"><a href="#" class="buy-btn">Buy Now</a></div>
            </div>
          </div><!-- End Pricing Item -->

          <div class="col-lg-3">
            <div class="pricing-item">
              <h3>Developer Plan</h3>
              <div class="icon">
                <i class="bi bi-send"></i>
              </div>
              <h4><sup>$</sup>49<span> / month</span></h4>
              <ul>
                <li><i class="bi bi-check"></i> Quam adipiscing vitae proin</li>
                <li><i class="bi bi-check"></i> Nec feugiat nisl pretium</li>
                <li><i class="bi bi-check"></i> Nulla at volutpat diam uteera</li>
                <li><i class="bi bi-check"></i> Pharetra massa massa ultricies</li>
                <li><i class="bi bi-check"></i> Massa ultricies mi quis hendrerit</li>
              </ul>
              <div class="text-center"><a href="#" class="buy-btn">Buy Now</a></div>
            </div>
          </div><!-- End Pricing Item -->

        </div>

      </div>
    </section>
    <!-- End Pricing Section -->

    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq sections-bg">
      <div class="container" data-aos="fade-up">

        <div class="row gy-4">

          <div class="col-lg-4">
            <div class="content px-xl-5">
              <h3>Ko'p so'raladigan <strong>Savollar</strong></h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit
              </p>
            </div>
          </div>

          <div class="col-lg-8">

            <div class="accordion accordion-flush" id="faqlist" data-aos="fade-up" data-aos-delay="100">

              <div class="accordion-item">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed pr-4 w-100" style="display : flex; align-items: center; justify-content: space-between;" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-1">
                    <span class="num">1.</span>
                    Non consectetur a erat nam at lectus urna duis?
                    <i class="bi bi-chevron-down dropdown-indicator" style="margin-left: auto;"></i>
                  </button>
                </h3>
                <div id="faq-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body">
                    Feugiat pretium nibh ipsum consequat. Tempus iaculis urna id volutpat lacus laoreet non curabitur gravida.
                    Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus non.
                  </div>
                </div>
              </div><!-- # Faq item-->

              <div class="accordion-item">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed pr-4 w-100" style="display : flex; align-items: center; justify-content: space-between;" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-2">
                    <span class="num">2.</span>
                    Feugiat scelerisque varius morbi enim nunc faucibus a pellentesque?
                    <i class="bi bi-chevron-down dropdown-indicator" style="margin-left: auto;"></i>
                  </button>
                </h3>
                <div id="faq-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body">
                    Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.
                  </div>
                </div>
              </div>
              <!-- # Faq item-->

              <div class="accordion-item">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed pr-4 w-100" style="display : flex; align-items: center; justify-content: space-between;" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-3">
                    <span class="num">3.</span>
                    Feugiat scelerisque varius morbi enim nunc faucibus a pellentesque?
                    <i class="bi bi-chevron-down dropdown-indicator" style="margin-left: auto;"></i>
                  </button>
                </h3>
                <div id="faq-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body">
                    Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices.
                    Fringilla phasellus faucibus scelerisque eleifend donec pretium.
                    Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.
                  </div>
                </div>
              </div><!-- # Faq item-->

              <div class="accordion-item">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed pr-4 w-100" style="display : flex; align-items: center; justify-content: space-between;" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-4">
                    <span class="num">4.</span>
                    Feugiat scelerisque varius morbi enim nunc faucibus a pellentesque?
                    <i class="bi bi-chevron-down dropdown-indicator" style="margin-left: auto;"></i>
                  </button>
                </h3>
                <div id="faq-content-4" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body">
                    Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.
                  </div>
                </div>
              </div><!-- # Faq item-->

              <div class="accordion-item">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed pr-4 w-100" style="display : flex; align-items: center; justify-content: space-between;" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-5">
                    <span class="num">5.</span>
                    Feugiat scelerisque varius morbi enim nunc faucibus a pellentesque?
                    <i class="bi bi-chevron-down dropdown-indicator" style="margin-left: auto;"></i>
                  </button>
                </h3>
                <div id="faq-content-5" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body">
                    Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.
                  </div>
                </div>
              </div><!-- # Faq item-->

            </div>

          </div>
        </div>

      </div>
    </section>
    <!-- End Frequently Asked Questions Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Aloqa</h2>
          <p>Nulla dolorum nulla nesciunt rerum facere sed ut inventore quam porro nihil id ratione ea sunt quis dolorem dolore earum</p>
        </div>

        <div class="row gx-lg-0 gy-4">

          <div class="col-lg-4">

            <div class="info-container d-flex flex-column align-items-center justify-content-center">
<!--              <div class="info-item d-flex">-->
<!--                <i class="bi bi-geo-alt flex-shrink-0"></i>-->
<!--                <div>-->
<!--                  <h4>Location:</h4>-->
<!--                  <p>A108 Adam Street, New York, NY 535022</p>-->
<!--                </div>-->
<!--              </div>-->
              <!-- End Info Item -->

              <div class="info-item d-flex">
                <i class="bi bi-envelope flex-shrink-0"></i>
                <div>
                  <h4>Email:</h4>
                  <p th:text="${contact.email}"></p>
                </div>
              </div><!-- End Info Item -->

              <div class="info-item d-flex">
                <i class="bi bi-phone flex-shrink-0"></i>
                <div>
                  <h4>Telefon:</h4>
                  <p th:text="${contact.phone}"></p>
                </div>
              </div><!-- End Info Item -->

              <div class="info-item d-flex">
                <i class="bi bi-clock flex-shrink-0"></i>
                <div>
                  <h4>Ish vaqti:</h4>
                  <p>Dush-Shan: 6:00-20:00</p>
                </div>
              </div><!-- End Info Item -->
            </div>

          </div>

          <div class="col-lg-8">
            <form id="form" class="php-email-form">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control rounded" id="name" placeholder="Fio..." required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="tel" class="form-control rounded" name="phone" id="phone" placeholder="+998..." required>
                </div>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control rounded" name="message" rows="7" placeholder="Xabar..." required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Jo'natilmoqda</div>
<!--                <div class="error-message"></div>-->
                <div class="sent-message rounded"></div>
              </div>
              <div class="text-center"><button type="submit" onclick="sendMessage();">Jo'natish</button></div>
            </form>
          </div><!-- End Contact Form -->

        </div>

      </div>
    </section>
    <!-- End Contact Section -->

  </main>
  <!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-5 col-md-12 footer-info">
          <a href="javascript:void(0);" class="logo d-flex align-items-center">
            <span>President school</span>
          </a>
          <p>Cras fermentum odio eu feugiat lide par naso tierra. Justo eget nada terra videa magna derita
            valies darta donna mare fermentum iaculis eu non diam phasellus.</p>
          <div class="social-links d-flex mt-4">
            <a th:href="'tel:' + ${contact.phone}" class="twitter"><i class="bi bi-phone"></i></a>
            <a th:href="'https://t.me/' + ${contact.phone}" class="facebook"><i class="bi bi-telegram"></i></a>
            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Foydali linklar</h4>
          <ul>
            <li><a href="#hero">Uy</a></li>
            <li><a href="#about">Biz haqimizda</a></li>
            <li><a href="#stats-counter">Statistika</a></li>
            <li><a href="#portfolio">Yangiliklar</a></li>
            <li><a href="#team">Jamoa</a></li>
            <li><a href="#pricing">Kurslar</a></li>
            <li><a th:href="@{/api/user/register}">Ro'yhatdan o'tish</a></li>
            <li><a th:href="@{/api/user/login}">Kirish</a></li>
            <li><a href="#contact">Aloqa</a></li>
          </ul>
        </div>

        <div class="col-lg-5 col-md-12 footer-contact text-center text-md-start">
          <h4>Biz bilan aloqa</h4>
          <strong><i class="bi bi-phone"></i> Telefon:</strong> <span th:text="${contact.phone}"></span><br>
          <strong><i class="bi bi-mailbox"></i> Email:</strong> <span th:text="${contact.email}"></span><br>
          <a href="javascript:void(0);" class="btn btn-outline-success text-light border-light mt-2" style="letter-spacing: 1px;">Created by ELITE group</a>
        </div>

      </div>
    </div>

  </footer>
  <!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/vendor/aos/aos.js"></script>
  <script src="/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/assets/vendor/php-email-form/validate.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

  <!-- Template Main JS File -->
  <script src="/assets/js/main.js"></script>
</body>
</html>